{% extends "base.html.twig" %}
{% block body %}

	{#}if post request exist{#}
	{% if app.request.method == 'POST' %}

		{% if posts | length == 0 %}

			<h4>Aucun resultat :(
			</h4>

		{% else %}
			{% for post in posts %}

				<div class="card mt-5 w-75">
					<div class="card-body">
						<h5 class="card-title">{{post.title}}</h5>
						<p class="card-text">{{post.subtitle}}</p>
						{% if post.content1 is not null %}
							<img src="{{post.content1}}" class="card-img-top" alt="{{post.content1description}}">
						{% endif %}
						<a href="{{path('post_read',{'id':post.id}) }}" class="btn btn-primary">Lire la suite</a>
					</div>
					{% include "post/_footer.html.twig" %}
				</div>

			{% endfor %}
		{% endif %}

	{% endif %}

{% endblock %}
