<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {{ 'post' in app.request.get('_route') ? ' active' }}" href="{{path('post_index')}}">Accueil</a>
        </li>       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{path('post_article',{'cat':'developpement'}) }}">Développement</a>
            <a class="dropdown-item" href="{{path('post_article',{'cat':'formation'}) }}">Formations</a>
            <a class="dropdown-item" href="{{path('post_article',{'cat':'divers'}) }}">Divers</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hobbies</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{path('post_article',{'cat':'impression'}) }}">Impression 3D</a>
            <a class="dropdown-item" href="{{path('post_article',{'cat':'sculpture'}) }}">Sculpture Numérique</a>
          </div>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="{{path('main_propos')}}">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('main_contact')}}">Contactez-moi !</a>
        </li>
      </ul>
     {{ render(controller('App\\Controller\\SearchController::searchBar')) }}
    </div>
  </div>
</nav>

